<div>
    <img class="home-banner" src="assets/banner.jpg">
    <p class="map-description">
        Night of the Dead Aftermath is a custom zombie survival map for the game Warcraft 3 produced originally by Starlite. It was the most downloaded survival map and was awarded Spotlight Map status by Blizzard in May 2006.
    </p>
</div>

<div class="row">

    <div class="card-container col-sm-12 col-xl-6">
        <mat-card class="card">
            <mat-card-header>
                <mat-icon mat-card-avatar>chat</mat-icon>
                <mat-card-title>Discord</mat-card-title>
            </mat-card-header>
            <img mat-card-image class="card-image" src="assets/discord.jpg">
            <mat-card-content>
                <p>
                    Join the community in our discord server to learn more about the game and play with us.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <a mat-raised-button color="primary" href="https://discord.com/invite/UBps3HT">Join NotD Aftermath Discord</a>
            </mat-card-actions>
        </mat-card>
    </div>

    <div class="card-container col-sm-12 col-xl-6">
        <mat-card class="card">
            <mat-card-header>
                <mat-icon mat-card-avatar>cloud_download</mat-icon>
                <mat-card-title>Download map</mat-card-title>
            </mat-card-header>
            <img mat-card-image class="card-image" src="assets/map_picture.jpg">
            <mat-card-content>
                <p>
                    Click below to download the last released version of the map. You can find a list of changes in the changelog section.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <a  mat-raised-button color="primary"
                    *ngIf="(releaseService.latestRelease$ | async) != null"
                    [attr.href]="(releaseService.latestRelease$ | async).download"
                >
                    <img class="download-icon" src="assets/map_icon.png">
                    Download {{this.GetDownloadFileName((releaseService.latestRelease$ | async))}}
                </a>
            </mat-card-actions>
        </mat-card>
    </div>

</div>

<div class="row">
  <div class="card-container card-disclaimer col-sm-12 col-xl-12">
    <mat-card class="card">
        <mat-card-header>
            <mat-icon mat-card-avatar>priority_high</mat-icon>
            <mat-card-title>Disclaimer</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>
                This is the community for Night of the Dead Aftermath, a custom game for <a target="_blank" href="https://playwarcraft3.com/">Warcraft® III: Reforged™</a>
            </p>
            <p>
                As per Blizzard's <a target="_blank" href="https://www.blizzard.com/en-us/legal/2749df07-2b53-4990-b75e-a7cb3610318b/custom-game-acceptable-use-policy">Custom Game Acceptable Use Policy</a>,
                custom games are sole and exclusive property of Blizzard.
            </p>
            <p>
                Any version of this map hosted in Eurobattlenet, NetEase or any other third party services is neither affiliated nor endorsed by this community.
            </p>
        </mat-card-content>
    </mat-card>
  </div>
</div>
